div.Article, div.Video, div.Article > div, div.Video > div, div.Article section, div.Video section {
  overflow: hidden !important;
}

div.Article, div.Video {
  height: 42vh;

  @media screen and (max-width: 44.9376em) { // video as first slide style
    height: 70vh;
  }

  div.text-wrap {
    height: 42vh;
    color: rgba(255, 255, 255, 1);

    &:hover {
      color: rgba(255, 255, 255, 1);
    }

    @media screen and (max-width: 44.9376em) { // video as first slide style
      height: auto;
    }
  }

  div.grommetux-hero {
    width: 100vw;
    height: 42vh;

    .grommetux-hero__background {
      img {
        opacity: 0.6;

        @media screen and (max-width: 44.9376em) {
          opacity: 1;
        }
      }
    }

    .grommetux-hero__foreground {
        .hero-text-wrap {
          margin-left: 5%;
          flex-basis: 50%;
        }
    }

    @media screen and (max-width: 44.9376em) { // video as first slide styles
      .grommetux-hero__background {
        height: 30vh !important;
      }

      .grommetux-hero__foreground {
        .hero-text-wrap {
          align-items: center;
          margin-left: 0;
          h3 { display: none; }

          & > * {
            text-align: center;
          }
        }
      }
    }
  }

  .slide {
    height: 42vh;
    @media screen and (max-width: 44.9376em) { // video as first slide style
      height: 70vh;
    }
  }
}

.slideshow-enter {
    opacity: .5;
}

.slideshow-enter.slideshow-enter-active {
    opacity: 1;
    transition: opacity 350ms linear;
}

.Slideshow-load {
    display: none;
}