article.splash {
  height: 90vh;

  .grommetux-control-icon {
    // stroke: #fff;
    // fill: #fff;
  }

  div.grommetux-hero.grommetux-hero--large {
    width: 100vw;
    height: 100vh;
  }

  .slide {
    height: 90vh;
  }
}