article.splash {
  .grommetux-button .grommetux-button__icon .grommetux-control-icon {
    stroke: #bbb;
    fill: #bbb;

    &:hover {
      stroke: #666;
      fill: #666;
    }
  }
  
  @media screen and (min-width: 44.9376em) {
    height: 80vh;

    button.grommetux-button.grommetux-article__control {
      top: 40%;
    }

    div.text-wrap {
      height: 80vh;
    }

    div.grommetux-hero {
      width: 100vw;
      height: 80vh;
    }

    .slide {
      height: 80vh;
    }
  }
}