article.Splash, article.Splash > div, article.Splash section {
  overflow-y: hidden !important;
}

article.Splash {
  .grommetux-button .grommetux-button__icon .grommetux-control-icon {
    stroke: #bbb;
    fill: #bbb;

    &:hover {
      stroke: #666;
      fill: #666;
    }
  }

  @media screen and (min-width: 44.9376em) {
    height: 44vh;

    button.grommetux-button.grommetux-article__control {
      top: calc(23% + 36px);
    }

    div.text-wrap {
      height: 44vh;
      color: rgba(255, 255, 255, 1);

      &:hover {
        color: rgba(255, 255, 255, 1);
      }
    }

    div.grommetux-hero {
      width: 100vw;
      height: 44vh;
    }

    .slide {
      height: 44vh;
    }
  }
}