article.Splash, article.Splash > div, article.Splash section {
  overflow-y: hidden !important;
}

article.Splash {
  height: 42vh;

  button.grommetux-button.grommetux-article__control {
    top: calc(21% + 36px);
    
    .grommetux-button__icon .grommetux-control-icon {
      stroke: #bbb;
      fill: #bbb;

      &:hover {
        stroke: #666;
        fill: #666;
      }
    }

    @media screen and (max-width: 44.9376em) { // video as first slide style... but might want to keep
      height: 52px;
      top: calc(21% + 21px);
    }
  }

  div.text-wrap {
    height: 42vh;
    color: rgba(255, 255, 255, 1);

    &:hover {
      color: rgba(255, 255, 255, 1);
    }

    @media screen and (max-width: 44.9376em) { // video as first slide style
      height: auto;
    }
  }

  div.grommetux-hero {
    width: 100vw;
    height: 42vh;

    @media screen and (max-width: 44.9376em) { // video as first slide styles
      .grommetux-hero__background {
        height: 30vh !important;
      }

      .grommetux-hero__foreground {
        .hero-text-wrap {
          align-items: center;

          & > * {
            text-align: center;
          }
        }
      }
    }
  }

  .slide {
    height: 42vh;
  }
}