article.Splash, article.Splash > div {
  overflow-y: hidden !important;

  .grommetux-button .grommetux-button__icon .grommetux-control-icon {
    stroke: #bbb;
    fill: #bbb;

    &:hover {
      stroke: #666;
      fill: #666;
    }
  }

  @media screen and (min-width: 44.9376em) {
    height: 60vh;

    button.grommetux-button.grommetux-article__control {
      top: 30%;
    }

    div.text-wrap {
      height: 60vh;
    }

    div.grommetux-hero {
      width: 100vw;
      height: 60vh;
    }

    .slide {
      height: 60vh;
    }
  }

  @media screen and (max-width: 44.9376em) {
    button.grommetux-button.grommetux-article__control {
      position: absolute;
    }
  }
}